@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');


*{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('https://uploads-ssl.webflow.com/5a9ee6416e90d20001b20038/6289efcc9a52f65ff46e8400_white-gradient.png');
  background-size: 400%;
}

.home{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login{
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:50%;
}

.login img{
  width: 100%;
}

.welcome{
  color:#eb1f1f;
  font-weight: 800;
  font-size: 3rem;
}

.welcome-paragraph{
  color: rgb(82, 78, 78);
  font-weight: 600;
  text-align: center;
}

.input-name{
  height: 3rem;
  display: flex;
  justify-content: center;
  width: 70%;
  box-shadow: 0px 6px 13px -7px gray;
}

.input-name input{
  width: 80%;
  padding: 1rem;
  border: transparent;
}

.input-name button{
  width: 20%;
  padding: .4rem;
  border: transparent;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  background-color: #D93F3F;
}


.home::after{
  position: absolute;
  bottom: 0;
  width: 100%;
  content: '';
  height: 10rem;
  background-color: #eb1f1f;
}

.pokebola{
  position: absolute;
  z-index: 2;
  width: 7rem;
  bottom: .5rem;
}

.home::before{
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  content: '';
  height: 4rem;
  background-color: black;
}

.nav::after{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  content: '';
  height: 18vh;
  background-color: #eb1f1f;
}

.pokebola-nav{
  position: absolute;
  top: 1.8vh;
  right: 3rem;
  width: 10rem;
  transition: all 1s;
}

.pokebola-nav:hover{
  rotate: 90deg;
  cursor: pointer
}

.nav::before{
  position: absolute;
  top: 11vh;
  z-index: 1;
  width: 100%;
  content: '';
  height: 7vh;
  background-color: black;
}

.nav img.title{
  position: absolute;
  z-index: 2;
  width: 570px;
  height: 76px;
  top: 2rem;
  padding: 0 5rem ;
}

.pokemons, .pokemon{
  padding: 22vh 7% 0 7%;
}


.welcome-pokemons{
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 2rem;
}


.pokemons p b {
  font-size: 1.5rem;
  color: #eb1f1f;
}

.search{
  display: flex;
  gap: 1rem;
  padding-bottom: 3rem;
}

.filter{
  height: 3rem;
  display: flex;
  justify-content: center;
  width: 30%;
  box-shadow: 0px 6px 13px -7px gray;
}

.filter-select{
  border: transparent;
  width: 100%;
  padding: 1rem;
  font-weight: 500;
}

.pokemons-container{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  list-style-type: none;
  gap: 1rem;
  background-color: #fff;
}

.pokemon-card{
  display: flex;
  flex-direction: column;
  height: 35rem;
  justify-content: end;
  align-items: center;
  background-color: black;
  border-radius: 8px;
  gap: .5rem;
  border: 7px solid rgb(54, 54, 54);
  position: relative;
  cursor: pointer;
}

.pokemon-card:hover{
  background-color: #D93F3F;
  border: 7px solid #eb1f1f;
}

.pokemon-card img{
  position: absolute;
  width: 80%;
  top: 4rem;
}

.pokemon-info{
  background-color: #fff;
  width: 100%;
  height: 60%;
  padding: 1.5rem;
  padding-top: 4rem;
}

.pokemon-type{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .1rem;
}

.pokemon-type h4{
  font-size: 1.7rem;
}
.pokemon-type p{
  font-size: .9rem;
  font-weight: 500;
}
.pokemon-type small{
  font-size: .7rem;
  color: gray;
}

.pokemon-division{
  margin: 1rem 0;
  position: relative;
  left: -1rem;
  width: 110%;
}

.pokemons-skills{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1rem;
  gap: 1.5rem;
}

.skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills small{
  font-size: .7rem;
  color: gray;
}

.skills p{
  font-size: 1.2rem;
  font-weight: 600;
}

.pagination{
  padding: 1rem;
  width: 100%;
  display: flex;
  gap: .5rem;
  background-color: #fff;
  justify-content: center;
}

.pagination button{
  width: 4rem;
  height: 4rem;
  border: transparent;
}

button{
  cursor: pointer;
}

.btn-prev, .btn-nxt{
  background-color: #D93F3F;
  padding: 1rem;
  color: #fff;
  font-weight: 600;
}


.btn-num{
  background-color: transparent;
  font-weight: 600;
}

.btn-num:hover{
  background-color:  #D93F3F;
  color: #fff;
}

.pokemon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D93F3F;
  padding: 10rem 0 0 0;
  margin: 40vh 4rem 0 4rem;
  position: relative;
  border: 4px solid #000;
}


.pokemon img{
  position: absolute;
  top:-9rem;
  width: 20rem;
  justify-content: center;
}

.pokemon-info-card{
  background-color: #fff;
  width: 100%;
  padding: 3rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.pokemon-id{
  padding: .5rem 1rem;
  border: 1px solid rgb(202, 201, 201);
  border-radius: 3px;
}

.pokemon-title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.pokemon-title hr{
  width: 50%;
}

.pokemon-title h2{
  font-size: 2.5rem;
}

.pokemon-size{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.size{
  text-align: center;
}

.size small{
  font-size: .8rem;
  font-weight: 500;
}
.size p{
  padding-top: .2rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.pokemon-characteristics{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 3rem;
}

.container-characteristics{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 50%;
}

.characteristics{
  display: flex;
  gap: 1rem;
  width: 100%;
}

.type-name{
  background-color: #D93F3F;
  padding: .3rem 1rem;
  width: 50%;
  color: #fff;
  text-align: center;
  font-weight: 500;
}

.abilities-name{
  padding: .3rem 1rem;
  width: 50%;
  text-align: center;
  font-weight: 700;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 3px;
}

.pokemon-stats{
  width: 100%;
}

.title{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1.5rem;
}

.title h2{
  font-size: 2.3rem;
}

.title hr{
  width: 100%;
}

.stats-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stats-container div{
  width: 100%;
}

.stats{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.stats div{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.stats div p{
  font-size: .8rem;
}

.background{
  height: 1.5rem;
  background-color: rgb(245, 241, 241);
  border: transparent;
  position: relative;
}

.background + hr{
  position: absolute;
  top: 2.2rem;
  width: 100%;
  z-index: 3;
  height: 1.5rem;
  background-color: #D93F3F;
  border: transparent;
}

.movements{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFf;
  padding: 5rem;
  margin: 2rem 4rem ;
  position: relative;
  border: 4px solid #000;
}


.moves{
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  padding: .7rem 1rem;
  background-color: rgb(231, 228, 228);
  margin: .5rem;
  border-radius: 90px;
}

@media screen and (max-width: 800px ) {
    
    .login{
      width:80%;
    }
    
    .welcome{
      font-size: 2rem;
    }
    
    .welcome-paragraph{
      font-size: .9rem;
    }
    
    .input-name{
      width: 100%;
      box-shadow: 0px 6px 13px -7px gray;
    }

    .nav::after{
      height: 4rem;
    }

    .pokebola-nav{
      top: 1.7rem;
      right: 1rem;
      width: 3.5rem;
    }

    .nav::before{
      top: 3.5rem;
      height: 2.5rem;
    }

    .nav img.title{
      width: 200px;
      height: 40px;
      top: 1.2rem;
      left: 1rem;
      padding: 0;

    }

    .pokemons, .pokemon{
      padding: 8rem 1rem 1rem 1rem;
    }


    .welcome-pokemons{
      font-size: 1rem;
    }

    .pokemons p b {
      font-size: 1.5rem;
    }

    .search{
      gap: 1rem;
      flex-direction: column;
      padding-bottom: 1.5rem;
    }

    .filter{
      align-self: center;
      width: 100%;
    }

    .pokemons-container{
      grid-template-columns:1fr;
      background-color: transparent;
      padding: .5rem;
      justify-items: center;
    }
    
    .pokemon-card{
      width: 15rem;
      height: 20rem;
      gap: .5rem;
      border: 5px solid rgb(54, 54, 54);
    }

    .pokemon-card img{
      width: 10rem;
      top: 1rem;
    }

    .pokemon-info{
      padding: .8rem;
      padding-top: 3rem;
    }

    .pokemon-type h4{
      font-size: 1rem;
    }
    .pokemon-type p{
      font-size: .6rem;
    }
    .pokemon-type small{
      font-size: .5rem;
    }

    .pokemon-division{
      margin:.4rem 0;
      width: 100%;
      left: 0;
    }

    .pokemons-skills{
      padding: 0 2.5rem;
      gap: .5rem;
    }


    .skills small{
      font-size: .5rem;
    }

    .skills p{
      font-size: .9rem;
    }

    .pagination button{
      width: 2rem;
      height: 2rem;
    }

    .btn-prev, .btn-nxt{
      padding: .5rem;
      font-size: .5rem;
    }

    .pokemon{
      padding: 10rem 0 0 0;
      margin: 20vh 1rem 0 1rem;
      border: 2px solid #000;
    }

    .pokemon img{
      top:-4.5rem;
      width: 15rem;
    }

    .pokemon-info-card{
      padding: 1.5rem 2rem;
      gap: .5rem;
    }

    .pokemon-id{
      padding: .5rem 1rem;
      font-size: 1rem;
    }

    .pokemon-title h2{
      font-size: 1rem;
    }

    .pokemon-size{
      gap: 1rem;
    }

    .size small{
      font-size: .5rem;
    }
    .size p{
      font-size: 1rem;
    }

    .pokemon-characteristics{
      gap: 1rem;
      padding-bottom: 1rem;
      flex-direction: column;
    }

    .container-characteristics{
      gap: 1rem;
      width: 100%;
    }

    .characteristics{
      gap: .5rem;
    }

    .type-name{
      padding:.3rem .5rem;
      width: 50%;
      font-size: .6rem;
    }

    .abilities-name{
      padding: .3rem .5rem;
      font-size: .5rem;
    }

    .title{
      gap:.5rem;
      padding-bottom: 1rem;
    }

    .title h2{
      font-size: 1.5rem;
    }

    .title hr{
      width: 100%;
    }

    .stats-container{
      gap: .5rem;
    }

    .stats div p{
      font-size: .6em;
    }

    .background{
      height: .5rem;
    }

    .background + hr{
      top: 1.5rem;
      height: 1rem;
    }

    .movements{
      padding: 1rem .5rem;
      margin: 2rem 1rem ;
      border: 2px solid #000;
    }

    .moves{
      font-size: .5rem;
      padding: .2rem;
      background-color: rgb(231, 228, 228);
    }
}

@media screen and (min-width: 501px ) and (max-width:800px) {

  .pokebola-nav{
    top: 1.7rem;
    right: 1rem;
    width: 5rem;
  }

  .nav::before{
    top: 4rem;
    height: 3rem;
  }

  .nav img.title{
    width: 320px;
    height: 50px;
    top: 1.2rem;
    left: 1rem;
    padding: 0;

  }

  .pokemons, .pokemon{
    padding: 10rem 1rem 1rem 1rem;
  }

  .search{
    gap: 1rem;
    padding-bottom: 1.5rem;
    flex-direction: row;
  }

  .input-name{
    flex-grow: 2
    ;
  }

  .filter-select{
    flex-grow: 1;
  }

  .pokemons-container{
    grid-template-columns:1fr 1fr;
  }

  .pagination button{
    width: 3rem;
    height:3rem;
  }

  .btn-prev, .btn-nxt{
    padding: .5rem;
    font-size: .8rem;
  }

  .pokemon{
    padding: 10rem 0 0 0;
    margin: 25vh 1rem 0 1rem;
  }

  .pokemon-id{
    padding:1rem;
    font-size: 1.5rem;
  }

  .pokemon-title h2{
    font-size: 1.5rem;
  }

  .size small{
    font-size:.7rem;
  }
  .size p{
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .pokemon-characteristics{
    gap: 1rem;
    padding-bottom: 2rem;
  }

  .type-name{
    padding:.5rem .7rem;
    width: 50%;
    font-size: 1rem;
  }

  .abilities-name{
    padding: .5rem .7rem;
    font-size: 1rem;
  }


  .stats-container{
    gap: 1rem;
  }

  .stats div p{
    font-size: 1rem;
  }

  .movements{
    padding: 1rem 2rem;
  }

  .moves{
    font-size: 1rem;
    padding: .5rem;
    background-color: rgb(231, 228, 228);
  }
}

@media screen and (min-width: 800px ) and (max-width:900px) {
  .pokemons-container{
    grid-template-columns:1fr 1fr 1fr;
  }
}